html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif, sans-serif;
    background: #ffffff;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-in {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1s forwards; /* Apply animation */
  }
  
  .animate-slide-in {
    opacity: 0; /* Initially hidden */
    animation: slideIn 1s forwards; /* Apply animation */
  }
  
  .in-view {
    opacity: 1; /* Ensure visibility when in view */
  }
  


  
  

nav.header {
    background-color: #3580C2;
    padding: 10px 20px;
    text-align: center;
}

.nav-wrapper {
    display: inline-block;
    text-align: center;
}

#logo-container {
    display: inline-block;
    text-align: center;
}

.logo {
    height: 100px;
    margin-bottom: 20px;
    width: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 10px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #1f3e5a;
    border-radius: 4px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 12px 20px;
    }

    .logo {
        height: 100px;
        width: auto;
    }
}

.section {
    text-align: center;
    padding: 40px;
}

a {
    text-decoration: none;
    color: #fff;
}

.overlay-button {
    width: 200px; /* Fixed width */
    background-color: #3580C2;
    border: #fff;
    border-radius: 1000px;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #3580C2;
}

.overlay-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-color: #fff;
}


.button {
    background-color: #3580C2;
    border: #fff;
    border-radius: 30px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #1f3e5a;
}

.Gallery,
.Blue-horizon,
.Dot-series {
    display: none;
    flex-wrap: wrap;
}

.button {
    cursor: pointer;
}

/* Ensure the gallery is visible when toggled */
button.showGallery {
    background-color: #4CAF50;
    color: white;
}

/* Styles for the arrow buttons */
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.arrow-btn:active {
    transform: scale(2.0);
    transition: transform 0.4s, box-shadow 0.2s ease;
}

/* Styles for the left arrow */
.left-arrow::before {
    content: "\2190";
    /* Unicode for left arrow */
    font-size: 20px;
}

/* Styles for the right arrow */
.right-arrow::after {
    content: "\2192";
    /* Unicode for right arrow */
    font-size: 20px;
}

/* Positioning for the left arrow */
#prev-btn {
    left: 10px;
}

/* Positioning for the right arrow */
#next-btn {
    right: 50px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
}

.container {
    width: 50%;
    margin-left: 25%;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.column img:hover {
    opacity: 75%;
    transition: 0.3s ease;
    cursor: pointer;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Add padding to prevent the image from touching the edges */
}

#popup img {
    max-width: 100%;
    max-height: 90vh;
    /* Ensure the image doesn't exceed the viewport height */
    height: auto;
    border: 2px solid white;
    border-radius: 0px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a:hover {
    color: #3580C2;
    transition-duration: 0.3s;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    height: 50px; /* Adjust the height as needed */
    width: auto;
}

.footer-nav{
    margin-bottom: 20px;
    background-color: #000;
}


.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #3580C2;
}

.footer-content a {
    margin-right: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin-left: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.1s ease-in-out;
}

.social-icons a:hover {
    color: #3580C2;
}

/* Styles for larger screens */
@media (min-width: 768px) {
    footer {
        text-align: left;
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .footer-content {
        margin-bottom: 0;
    }

    .social-icons {
        justify-content: flex-end;
    }

    .social-icons li {
        margin-left: 0;
        margin-right: 10px;
    }
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    color: #000;
    text-align: left;
}

#home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(/images/Interior.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

.overlay h1 {
    font-size: 2.5rem;
}

.overlay p {
    margin-bottom: 0;
}

p {
    letter-spacing: 1px;
    font-size: larger;
}

#contact-form {
    text-align: center;
    margin-top: 40px;
    /* Adjust this value to bring the contact form closer to the center */
}

/* Add this style to center the form within its container */
#contact-form form {
    max-width: 800px;
    margin: 0 auto;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #3580C2;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
}

.back-to-top:hover {
    background-color: #0056b3;
    opacity: 1;
}

.back-to-top.show {
    display: block;
}

/* Responsive Styles for Image Popup */
@media (min-width: 600px),
(max-width: 800px) {
    #popup img {
        margin-right: 42.5px;
        max-width: auto;
        max-height: 80vh;
        /* Reduce the max-height for smaller screens */
    }

    #close-btn {
        position: absolute;
        top: 10px;
        right: 50px;
        cursor: pointer;
        color: white;
        font-size: 20px;
    }

    .arrow-btn {
        width: 25px;
        height: 25px;
    }

    .arrow-btn .left-arrow::before,
    .arrow-btn .right-arrow::after {
        font-size: 16px;
    }

    #close-btn {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #popup img {
        max-width: 80%;
        max-height: 70vh;
        /* Further reduce the max-height for very small screens */
    }

    .arrow-btn {
        width: 25px;
        height: 25px;
    }

    .arrow-btn .left-arrow::before,
    .arrow-btn .right-arrow::after {
        font-size: 14px;
    }

    #close-btn {
        font-size: 14px;
    }
}
