html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif, sans-serif;
    background: linear-gradient(45deg, #f5f5f5, #ffffff);
}

/* Responsive scaling */
meta {
    content: "width=device-width, initial-scale=1.0";
}

nav {
    background-color: #3580C2;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

nav div {
    display: flex;
    align-items: center;
}

nav .logo {
    max-width: 175px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 15px;
}

nav .logo:hover {
    transform: scale(1.10);
    transition: 0.3s ease;
}

nav .logo:active {
    transform: scale(1.5);
    transition: 0.2s;
}

/* Main Content */
section {
    background-color: #f5f5f5;
    max-width: 90%;
    text-align: center;
    margin: 40px auto 20px;
    padding: 20px;
    border-radius: 20px;
    border-color: #000;
}

#Gallery,
#Blue-horizon,
#Dot-series {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

#Gallery div,
#Blue-horizon div,
#Dot-series div {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

#Gallery div:hover,
#Blue-horizon div:hover,
#Dot-series div:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#Gallery img,
#Blue-horizon img,
#Dot-series img {
    max-width: 100%;
    border-radius: 0px;
    height: auto;
}

.section {
    text-align: center;
    padding: 40px;
    transform: scale(1.02);
}

#about {
    border-top: 10px solid #3580C2;
}

.section h2 {
    margin-bottom: 20px;
}

.section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.section div {
    width: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.overlay-button {
    width: 25vh;
    background-color: #3580C2;
    border: #fff;
    border-radius: 50px;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.overlay-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button {
    background-color: #3580C2;
    border: #fff;
    border-radius: 30px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles for the arrow buttons */
.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.arrow-btn:active {
    transform:scale(2.0);
    transition: transform 0.4s , box-shadow 0.2s ease;

}

/* Styles for the left arrow */
.left-arrow::before {
    content: "\2190"; /* Unicode for left arrow */
    font-size: 20px;
}

/* Styles for the right arrow */
.right-arrow::after {
    content: "\2192"; /* Unicode for right arrow */
    font-size: 20px;
}

/* Positioning for the left arrow */
#prev-btn {
    left: 10px;
}

/* Positioning for the right arrow */
#next-btn {
    right: 10px;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#popup img {
    max-width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 0px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a:hover {
    color: #3580C2;
    transition-duration: 0.3s;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-left: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.1s ease-in-out;
}

.social-icons a:hover {
    color: #3580C2;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    color: #000;
    text-align: left;
}

#home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(Interior.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    box-sizing: border-box;
}

.overlay h2 {
    margin-bottom: 10px;
}

.overlay p {
    margin-bottom: 0;
}

#contact-form {
    text-align: center;
    margin-top: 40px;
    /* Adjust this value to bring the contact form closer to the center */
}

/* Add this style to center the form within its container */
#contact-form form {
    max-width: 800px;
    margin: 0 auto;
}

/* Gallery Sections */
.gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.gallery-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

/* Apply the styles to specific gallery sections */
#Gallery,
#Blue-horizon,
#Dot-series {
    margin: 20px auto;
    max-width: 90%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #000;
}

@media (max-width: 600px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    #Gallery div,
    #Blue-horizon div,
    #Dot-series div {
        width: 385px;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        transition: transform 0.3s ease;
}
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {

    body {
        font-size: 14px;
    }

    nav {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    nav .logo {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    section {
        max-width: 90%;
    }

    #popup img {
        max-width: 75%;
        height: auto;
        border: 2px solid white;
        border-radius: 8px;
    }

    .section div {
        width: 100%;
    }

    .overlay-button, .button {
        width: calc(100% - 75px); /* Adjusted button width */
        margin-right: 20px; /* Adjusted margin */
        margin-bottom: 10px; /* Added margin */
    }

    .gallery-section {
        grid-template-columns: 1fr;
    }

    footer {
        font-size: 14px;
    }

    .social-icons li {
        margin-left: 5px;
    }

}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.burger-menu {
    margin-right: 375px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu:active {
    transform: scale(1.5);
}

.burger-menu .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #000;
    }
    
    .nav-links li {
        margin: 0;
        padding: 15px;
        text-align: center;
    }
    
    .nav-links.active {
        display: flex;
    }
    .arrow-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
}

